﻿@model IEnumerable<Volo.Luiza_Kishoyan.DepositBanking.ViewModels.BankViewModels.BankIndexViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Banks</h2>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-md-4 col-lg-2 banks">
               <img src="~/Content/BankLogos/@(item.Logo + ".jpg")" /> <br>
                @Html.DisplayFor(Modelitem => item.Name) <br>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </div>
        }
    </div>
</div>