﻿.navbar {
    z-index: 10;
}
.colors {
    background-color: #398439;
    border-color: #255625;
    color:black;
    
}
.navbar-inverse .navbar-nav > li > a {
    color:lightgoldenrodyellow;
}
.navbar-inverse .navbar-brand {
    color: lightgoldenrodyellow;
}
.siteButtons {
    color: lightgoldenrodyellow;
}
.infoIcons {
    float: right;
    font-size: large;
}
    .infoIcons a {
        color: #398439;
    } 
.pagination-container a {
    background-color: #398439;
    border-color: #255625;
    color: black;
}
.login {
    float: right;
    color: lightgoldenrodyellow;
    margin-top: 10px;
}
.login a { 
    color: lightgoldenrodyellow;
}
.ui-dialog-titlebar-close {
    background-color: #e00e0e;
}
.bootstrap-select.btn-group{
    max-width:280px;    
}
.btn dropdown-toggle.btn-default {
    color: black;
}
.banks{
    height:100px;
}
.investments th {
    text-align:center;
    padding:5px;
}