﻿@model IEnumerable<Volo.Luiza_Kishoyan.DepositBanking.Areas.Admin.ViewModels.BankViewModels.BankIndexViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Banks</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p><div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-md-4 col-lg-2 banks">
                    <img src="~/Content/BankLogos/@(item.Logo + ".jpg")" /> <br>
                    @Html.DisplayFor(Modelitem => item.Name) <br>

                    @Html.ActionLink("Edit", "Edit", new { area = "Admin", controller = "Banks", Id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { area = "Admin", controller = "Banks", id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { area = "Admin", controller = "Banks", id = item.Id })

                </div>
            }

        </div>     
</div>