﻿@model List<Volo.Luiza_Kishoyan.DepositBanking.Areas.Admin.ViewModels.SearchViewModels.SearchResultsViewModel>

<table class="table">
    <tr>
        <th>
            BankName
        </th>
        <th>
            DepositorName
        </th>
        <th>
           DepositType
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepositorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepositType)
        </td>  
    </tr>
}

</table>
