﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Deposit Banking is web application where everyone can register and make investment by choosing his preferred bank and deposit type.<br />
   Each deposit type has it's own options which can be changed, but have some constraints. By calculator user can calculate final amount for specific deposit type.<br />
   Application has also admin area where only admin user has access and can create, edit, delete banks, depositors and investments.</p>
