﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEPOSIT BANKING</h1> 
    <p class="lead">You can choose bank and deposit type to invest your money.</p>
    <p class="lead">Just register and login to your profile page.</p>
    <p>
        <a href="/Account/Register" class="btn btn-success siteButtons">Register&raquo;</a>
        <a href="/Account/Login" class="btn btn-success siteButtons">Login&raquo;</a>
        <a href="/Admin/Account/Login" class="btn btn-success siteButtons" style="float:right;">Login as Admin&raquo;</a>
    </p>
   
</div>

<div class="row">
    <div class="col-md-4">
       
        <h2>Accumulative 13%</h2>
        <p>
            Currency: AMD, USD, EUR, RUR
            <br>
            Duration of deposit: 6-36 months
            <br>
            Minimal ammount of deposit: AMD 50000, USD 200, EUR 200 or RUR 5000           
        </p>
        <p> <a data-ajax="true" data-ajax-method="GET" class="btn btn-success siteButtons" data-ajax-mode="replace" 
               data-ajax-success="OpenPopup" data-ajax-update="#result" href="/Home/Calculator?type=Accumulative">Calculator
                <i class="fa fa-calculator" aria-hidden="true"></i>            
            </a>                        
        </p>
    </div>
    <div class="col-md-4">
        <h2>FamilyTyme 12%</h2>
        <p>
        Currency: AMD, USD, EUR, RUR
        <br>
        Duration of deposit: 3-24 months
        <br>
        Minimal ammount of deposit: AMD 50000, USD 200, EUR 200 or RUR 5000
        </p>
        <p>
            <a data-ajax="true" data-ajax-method="GET" class="btn btn-success siteButtons" data-ajax-mode="replace"
               data-ajax-success="OpenPopup" data-ajax-update="#result" href="/Home/Calculator?type=FamilyTyme">
                Calculator
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </a> 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Saving 9%</h2>
        <p>
        Currency: AMD, USD, EUR, RUR
        <br>
        Duration of deposit: 1-12 months
        <br>
        Minimal ammount of deposit: AMD 50000, USD 200, EUR 200 or RUR 5000
        </p>
        <p>
            <a data-ajax="true" data-ajax-method="GET" class="btn btn-success siteButtons" data-ajax-mode="replace"
               data-ajax-success="OpenPopup" data-ajax-update="#result" href="/Home/Calculator?type=Saving">
                Calculator
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </a> 
        </p>
    </div>
</div>

<div id="result" style="display:none;"></div>

