﻿@model Volo.Luiza_Kishoyan.DepositBanking.Areas.Admin.ViewModels.DepositorViewModels.DepositorInvestViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
@*<h2>@Model.Depositor.Name @Model.Depositor.Surname</h2>*@

<h4>Choose bank and deposit type to create your deposit</h4>

@using (Html.BeginForm("Invest", "Account", FormMethod.Post, new { id = "createInvestment" }))
{

    @Html.AntiForgeryToken()

   <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DepositorId)
            <div class="form-group">
                @Html.LabelFor(model => model.BankId, "Bank", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("BankId", new SelectList(Model.Banks, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BankId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, "DepositType", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Type", new SelectList(Model.Deposits, "Type", "Type"), htmlAttributes: new { @class = "form-control", @onchange = "FillDepositType()" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control "} })
                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Currency", new SelectList(Model.Currencies, "Name", "Name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", min = Model.Amount } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

       <div class="form-group">
           @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-10">
               <input class="form-control startdatetimepicker text-box single-line input-validation-error"
                      name="StartDate" data-val="true" data-val-required="The StartDate field is required." id="StartDate" >
               @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
           </div>
       </div>

       <div class="form-group">
           @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-10">
               <input class="form-control text-box single-line input-validation-error"
                      name="EndDate" id="EndDate" readonly>
               @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
           </div>
       </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">                
                    <input type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-success siteButtons" />                    
            </div>
        </div>
   </div>
}

    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm your investment
                </div>
                <div class="modal-body">
                    Are you sure you want submit?                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <a href="#" id="submit" class="btn btn-success siteButtons">Submit</a>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $('#submit').click(function(){
    $('#createInvestment').submit();
});
    </script>
}
