﻿@model Volo.Luiza_Kishoyan.DepositBanking.ViewModels.AccountViewModels.UserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile Page</h2>

<div>
        
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>

@Html.ActionLink("Create Deposit", "Invest", new { Area = "", Controller = "Account", email = Model.Email }, new { @class = "btn btn-success siteButtons" })

<hr />

@if (Model.Investments != null)
{
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Investments">Investments</a></li>
</ul>

<div class="tab-content">
    <div id="Investments" class="tab-pane fade in active">
        <table class="table">
            <tr>
                <th>
                    Bank
                </th>
                <th>
                    Deposit
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Amount
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Duration
                </th>
                <th>
                    FinalAmount
                </th>
                <th>
                    BankState
                </th>
                <th>
                    CreationDate
                </th>
                <th>
                    DestroyDate
                </th>

            </tr>

            @foreach (var item in Model.Investments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bank.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @if (item.DestroyDate == null)
                        { <p> Active</p> }
                        @Html.DisplayFor(modelItem => item.DestroyDate)
                    </td>
                </tr>
            }

        </table>

    </div>

</div>
}